<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="/Users/smitabose/Desktop/task1/ICanWin/src/test/java/org/example/HurtMePlenty.java">
        <classes>
            <class name="org.example.HurtMePlenty">
                <methods>
                    <include name="search"/>
                    <include name="fillData"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>